
      body {
        background-color: black;
        color: white;
        padding-top: 60px;
        font-family: Arial;
      }
      .navbar-brand {
        font-family: 'Arial Black', sans-serif;
      }
      .card {
        background-color: #1c1c1a;
        border: none;
        color: white;
      }
      
      a {
        color: #ffc107;
      }
      a:hover {
        color: white;
      }
     
